@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body{
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: 'Open Sans';
}

h1{
  text-align: center;
  line-height: 50%;
  text-shadow: .5px .5px #000000;
}

#outfits-title{
  text-align: center;
  line-height: 50%;
  text-shadow: .5px .5px #000000;
  /
}
#sidebar{
  background-color: #f1f2f6;
  width: 200px;
  height: 100%;
  display: block;
  position: absolute;
  left: -200px;
  top: 0px;
  transition: left 0.3s linear;
}

#sidebar.visible{
  left:0px;
  transition: left 0.3s linear;
}
ul{
  margin: 0px;
  padding: 0px;
}

ul li{
  list-style: none;

}

ul li a{
  background-color: #f1f2f6;
  text-decoration: none;
  border-bottom: 1px #57606f;
  color: #2f3542;
  text-shadow: .5px .5px #2f3542;
  display: block;
  width: 180px;
  padding: 10px;
}


#sidebar-button{
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top:0px;
  right:-60px;
}

#sidebar-button span{
  height: 1px;
  background-color: #2f3542;
  margin-bottom: 5px;
  display: block;
}
#sidebar-button span:nth-child(2){
  width: 75%;
}

#sidebar-button span:nth-child(3){
  width: 50%;
}
